<!DOCTYPE html>

<title>New DossierMedical</title>

{% block body %}
    <h1>Create new DossierMedical</h1>

    {{ include('DossierMedical/_form.html.twig') }}

    <a href="{{ path('app_DossierMedical_index') }}">back to list</a>
{% endblock %}
