{% extends 'gestion_blog/back.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('article_admin/_form.html.twig') }}

    <a href="{{ path('app_article_index1') }}">back to list</a>
{% endblock %}
