{% extends 'base_front_event.html.twig' %}

{% block title %}New EventTicket{% endblock %}

{% block body %}
    <h1>Create new EventTicket</h1>

    {{ include('events_ticket/_form.html.twig') }}

    <a href="{{ path('app_events_ticket_index') }}">back to list</a>
{% endblock %}
