{% extends 'front.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <center> <h1>Ajouter un Article</h1> </center>

    {{ include('article/_form.html.twig') }}

{% endblock %}
